@import '../../core/common/common.style.scss';

.list-recovery-list {
    @include listLayout;

    .search-list-box {
        & > div:not(:last-child) {
            .nzFormItem {
                border-bottom: 1px dotted #ddd;
                padding-bottom: 12px;
                margin-bottom: 12px;
            }
        }
        
        & > div:last-child {
            .nzFormItem {
                margin-bottom: 0;
            }
        }

        .nzFormItem {
            &.rule-box {
                .rule-list-box {
                    .rule-box {
                        background-color: rgba(240, 242, 245, 0.5);
                        padding: 24px;
                        margin: 12px 0;
                        border-radius: 4px;
        
                        .rule-tag-item {
                            margin-bottom: 12px;
                        }
                    }
                }
            }

            &.recovery-operation-btn-group {
                button {
                    margin-right: 12px;
                }
            }
        }
    }
}