<div class="gift-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>礼品管理</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <!-- <div class="search-list-box">
            <search-list [searchListModel]="searchListModel" [searchListItem]="searchListItem" (onSearch)="search()" (onReseat)="reseat()"></search-list>
        </div> -->
        <div class="search-list-menu-group">
            <button nz-button [nzType]="'primary'" (click)="addGift()"><i nz-icon nzType="plus" nzTheme="outline"></i>新增礼品</button>
            <button nz-button [nzType]="'danger'" [disabled]="!canDeleteGift" (click)="deleteGift()"><i nz-icon nzType="delete" nzTheme="outline"></i>删除礼品</button>
        </div>
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
                <nz-table #list [nzData]="giftList" [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="giftList.length">
                  <thead>
                    <tr>
                        <th
                            nzShowCheckbox
                            [(nzChecked)]="isAllDisplayDataChecked"
                            [nzIndeterminate]="isIndeterminate"
                            (nzCheckedChange)="checkAllGift($event)"
                        ></th>
                        <ng-container *ngFor="let th of tableCfg.thead">
                            <th>{{ th.name }}</th>
                        </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of list.data">
                        <td
                            nzShowCheckbox
                            [(nzChecked)]="mapOfCheckedId[data.id]"
                            (nzCheckedChange)="refreshStatus()"
                        ></td>
                        <td>{{data.name}}</td>
                        <td>{{data.count}}</td>
                        <td>{{data.desc}}</td>
                        <td>
                            <a (click)="editGift(data)"><i nz-icon nzTooltipTitle="编辑" nzTooltipPlacement="bottom" nz-tooltip nzType="delete" nzType="edit" nzTheme="outline"></i></a>
                        </td>
                    </tr>
                  </tbody>
              </nz-table>
              </ng-container>
              <ng-template #skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
              </ng-template>
        </div>
        <!-- <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div> -->
    </div>
</div>