@import '../../../core/common/common.style.scss';

.defeat-analysis-report {
    @include listLayout;
}

:host ::ng-deep .defeat-analysis-report {
    @include deepTableTheadThColor;

    .failReasonList-td {
        thead.ant-table-thead {
            display: none;
        }

        .ant-table-body > table {
            border: none !important;
        }

        .ant-table-tbody > tr:last-child > td {
            border-bottom: none !important;
        }
    }
}
