@import '../../core/common/common.style.scss';

.financial-report {
    @include listLayout;

    .search-list-menu-group {
        text-align: left;

        button {
            margin-right: 12px;
        }
    }

    .form-content {
        .form-btn-group {
            text-align: right;

            .form-btn {
                margin-left: 12px;

                i {
                    margin-right: 3rpx;
                    float: left;
                    margin-top: 4px;

                    &.reload-icon {
                        font-size: 13px;
                    }
                }
            }
        }

        .nzFormItem {
            margin-bottom: 8px;
        }
    }

    .search-list-table {
        @include tableListStyle;
    }
}