<div class="gift-form-modal-container">
    <div nz-row class="model-content">
        <nz-form-item class="nzFormItem">
            <nz-form-label class="nzFormLabel" nz-col nzXs="4" nzFor="name">赠品名称</nz-form-label>
            <nz-form-control class="nzFormControl" nz-col nzXs="20">
                <input nz-input type="text" placeholder="请输入赠品名称" id="name" 
                                [(ngModel)]="formModel.name"
                                [disabled]="disable"/>
            </nz-form-control>
        </nz-form-item>

        <nz-form-item class="nzFormItem">
            <nz-form-label class="nzFormLabel" nz-col nzXs="4" nzFor="count">赠品数量</nz-form-label>
            <nz-form-control class="nzFormControl" nz-col nzXs="20">
                <input nz-input
                        #inputCountElement 
                        placeholder="请输入赠品数量" id="count" 
                        [ngModel]="formModel.count"
                        (ngModelChange)="onCountChange($event)"
                        (blur)="onBlurCount()"
                        [disabled]="disable"/>
            </nz-form-control>
        </nz-form-item>
    </div>
    <div class="modal-btn-group">
        <button nz-button [nzType]="'default'" (click)="cancel()">取消</button>
        <button nz-button [nzType]="'primary'" (click)="sure()">保存</button>
    </div>
</div>