<div class="customer-detail-insurance-container">
    <nz-table #list [nzData]="insList" nzShowPagination="false" nzFrontPagination="false" [nzTotal]="insList.length"
        [nzScroll]="{ y: '500px' }">
        <thead>
            <tr>
                <th nzWidth="50px"></th>
                <th>投保险种</th>
                <th>保险金额/责任限额</th>
                <th>保费</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let data of list.data; let i = index">
                <td><label nz-checkbox name="hasCurrentIns" [(ngModel)]="data.value.hasCurrentIns"></label></td>
                <td>{{ data.name }}</td>
                <td>
                    <ng-container [ngSwitch]="data.type">
                        <ng-container *ngSwitchCase="'text'">
                            {{ data.value.coverageValue }}
                        </ng-container>
                        <ng-container *ngSwitchCase="'inputNumber'">
                            <nz-input-number style="width: 100%" nzPlaceHolder="请输入" [(ngModel)]="data.value.coverageValue" [name]="data.code"></nz-input-number>
                        </ng-container>
                        <ng-container *ngSwitchCase="'autocomplete'">
                            <input nz-input [(ngModel)]="data.value.coverageValue" placeholder="请输入或选择" [nzAutocomplete]="auto" [name]="data.code + 'coverageValue'"/>
                            <nz-autocomplete [nzDataSource]="data.config.options" #auto></nz-autocomplete>
                        </ng-container>
                        <ng-container *ngSwitchCase="'select-glass'">
                            <nz-select nzShowSearch nzAllowClear nzPlaceHolder="请选择" [(ngModel)]="data.value.materialsType" [name]="data.code + i">
                                <nz-option *ngFor="let option of data.config.options" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </ng-container>
                    </ng-container>
                </td>
                <td>
                    <nz-input-number style="width: 100%" nzPlaceHolder="请输入" [(ngModel)]="data.value.payPremium" [name]="data.code + 'payPremium'"></nz-input-number>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>