@import '../../../core/common/common.style.scss';

.customer-detail-insurance-container {
    .ant-table-tbody > tr > td {
        padding: 8px
    }

    .ins-box {
        .nzFormItem {
            @include specialNzFormItem;

            .nzFormControl {
                .ant-form-item-control {
                    width: 100%;
                }

                .dataType {
                    border-right: 1px solid #e5e5e5;
                    // height: 35px;
                    height: 30px;
                    padding: 0 11px;
                    text-align: left;
                    border-radius: 0px;
                    outline: 0;
                    transition: all 0.3s linear;
                    margin-top: 2px;
                }
            }

            .nzFormLabel {
                flex-basis: 160px;
            }
        }
    }
}

:host ::ng-deep .customer-detail-insurance-container .component-customer-detail-insurance-label {
    label>label {
        width: 100%;

        span.ant-checkbox {
            float: left;
            margin: 9px 0 0 10px;
        }
    }
}