<div class="salesman-operation">
    <div class="small-operation-show" [hidden]="showDetail">
        <div class="container">
			<div class="water1"></div>
			<div class="water2"></div>
			<div class="water3"></div>
			<div class="water4"></div>
		</div>
        <i class="notification-icon small-operation-show-icon" nz-icon nzType="notification" nzTheme="outline"></i>
    </div>
    <div class="salesman-operation-detail" *ngIf="showDetail">
        <div class="tracking-premiere-box">
            <nz-tabset [nzTabPosition]="'top'" [nzSelectedIndex]="selectedIndex" (nzSelectChange)="tabSelectChange($event)" [nzType]="'card'" [nzAnimated]="true">
                <nz-tab nzTitle="预约跟踪">
                    <div class="trackingList-box" *ngIf="selectedIndex === 0">
                        <nz-table #list [nzSize]="'small'" [nzData]="trackingList" [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="trackingList.length" [nzScroll]="{ x: '400px' }">
                            <tbody>
                              <tr *ngFor="let data of list.data; let i = index" [ngClass]="{'follow-item': true, 'selected': data.selected}" (click)="customerDetail(data, trackingList)">
                                <td>{{i + 1}}</td>
                                <td>{{data.customerName}}</td>
                                <td>{{data.carNo}}</td>
                                <td>{{data.appointmentTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{data.appointmentLevel || '--'}}</td>
                              </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </nz-tab>
                <nz-tab nzTitle="首播">
                    <div class="firstCallList-box" *ngIf="selectedIndex === 1">
                        <nz-table #list [nzSize]="'small'" [nzData]="firstCallList" [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="trackingList.length">
                            <tbody>
                              <tr *ngFor="let data of list.data; let i = index" [ngClass]="{'follow-item': true, 'selected': data.selected}" (click)="customerDetail(data, firstCallList)">
                                <td>
                                    <ng-container *ngIf="data.flag"><i class="special">*</i></ng-container>
                                    {{i + 1}}
                                </td>
                                <td>{{data.customerName}}</td>
                                <td>{{data.carNo}}</td>
                                <td>{{data.updateTime | date: 'yyyy-MM-dd HH:mm:ss'}}</td>
                                <td>{{data.appointmentLevel || '--'}}</td>
                              </tr>
                            </tbody>
                        </nz-table>
                    </div>
                </nz-tab>
            </nz-tabset>
        </div>
        <div class="calendar-box">
            <p class="title">预约日历</p>
            <div class="calendar-list-box">
                <ng-container *ngIf="calendarList.length > 0; else noCalendarListTpl">
                    <ng-container *ngFor="let data of calendarList">
                        <p><nz-tag [nzColor]="'blue'">{{data.date}}</nz-tag>已预约<span class="highlight">{{data.hadAppointmentNumber}}</span>单，还可约<span class="highlight">{{data.canAppointmentNumber}}</span>单</p>
                    </ng-container>
                </ng-container>
                <ng-template #noCalendarListTpl>
                    <nz-empty nzNotFoundContent="暂无预约日历数据"></nz-empty>
                </ng-template>
            </div>
        </div>
        <!-- <div class="remind-box">
            <p class="title">提醒[未联调~~]</p>
            <p><i nz-icon nzType="info-circle" nzTheme="outline"></i>还剩<span class="highlight">{{remind.unhandleTask}}</span>条首播未处理</p>
            <p><i nz-icon nzType="info-circle" nzTheme="outline"></i>还剩<span class="highlight">{{remind.unhandleAppoint}}</span>条预约未处理</p>
            <p>已处理<span class="highlight">{{remind.handled}}</span>条</p>
            <p>成功<span class="highlight">{{remind.success}}</span>条</p>
            <p>失败<span class="highlight">{{remind.fail}}</span>条</p>
            <p>无效<span class="highlight">{{remind.invalid}}</span>条</p>
            <nz-progress [nzPercent]="remind.percent"></nz-progress>
        </div> -->
    </div>
</div>