@import '../../core/common/common.style.scss';

.salesman-operation {
    .small-operation-show {
        position: fixed;
        right: 50px;
        top: 60px;
        z-index: 999;
        cursor: pointer;

        .notification-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 7px;
            border-radius: 50%;
            background-color: #ffd591;
            color: red;

            &.small-operation-show-icon {
                z-index: 999;
            }
        }

        @-webkit-keyframes wateranimate {
            0% {
                -webkit-transform: scale(0);
                opacity: 0.5;
            }
            100% {
                -webkit-transform: scale(2);
                opacity: 0;
            }
        }
        @keyframes wateranimate {
            0% {
                -webkit-transform: scale(0);
                transform: scale(0);
                opacity: 0.5;
            }
            100% {
                -webkit-transform: scale(2);
                transform: scale(2);
                opacity: 0;
            }
        }			
        .container {
            position: relative;
            width: 80px;
            height: 80px;
        }			
        .water1 {
            -webkit-animation: wateranimate 12s 9s ease-out infinite;
            animation: wateranimate 12s 9s ease-out infinite;
        }			
        .water2 {
            -webkit-animation: wateranimate 12s 6s ease-out infinite;
            animation: wateranimate 12s 6s ease-out infinite;
        }			
        .water3 {
            -webkit-animation: wateranimate 12s 3s ease-out infinite;
            animation: wateranimate 12s 3s ease-out infinite;
        }			
        .water4 {
            -webkit-animation: wateranimate 12s 0s ease-out infinite;
            animation: wateranimate 12s 0s ease-out infinite;
        }			
        .water1, .water2, .water3, .water4 {
            padding: 20%;
            position: absolute;
            left: 30%;
            top: 30%;
            border: 1px solid #ffd591;
            box-shadow: 0 0 120px 30px#faad14 inset;
            border-radius: 100%;
            z-index: 1;
            opacity: 0;
        }
    }

    .highlight {
        color: #f5222d;
    }

    .salesman-operation-detail {
        position: fixed;
        right: 20px;
        top: 73px;
        z-index: 999;
        border-radius: 5px;
        background-color: #fff;
        padding: 2px;
        width: 270px;
        box-shadow: 0 2px 8px rgba(0,0,0,.09);
        animation: bounceIn 1s;

        p.title {
            background: #fafafa;
            padding: 0 16px;
            height: 30px;
            line-height: 28px;
        }

        .tracking-premiere-box {
            .trackingList-box,
            .firstCallList-box {
                height: 150px;
                overflow-y: scroll;

                tr.follow-item {
                    cursor: pointer;
                }
                
                tr.selected {
                    td {
                        background-color: #e6f7ff;
                    }
                }
            }

            i.special {
                color: #f5222d;
            }
        }

        .calendar-box {
            margin: 12px 0;

            .calendar-list-box {
                height: 150px;
                overflow-y: scroll;

                p {
                    margin-bottom: 8px;
                }
            }
        }

        .remind-box {
            p {
                i {
                    margin-right: 12px;
                }

                margin-bottom: 8px;
            }

            p:nth-last-child(2) {
                margin-bottom: 0;
            }
        }
    }
}

:host ::ng-deep .salesman-operation {
    .ant-table-body {
        margin: 0;
    }

    .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td {
        padding: 2px;
        white-space: nowrap;
        font-size: 12px;

        &:nth-child(2) {
            max-width: 80px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
