@import '../../../../core/common/common.style.scss';

.customer-import-modal-container {
    .model-content {
        margin-bottom: 24px;

        .top-message {
            background-color: #fffbe6;
            padding: 5px 24px;
            border-radius: 15px;
            display: inline-block;
            position: relative;
            text-indent: 18px;
            font-size: 13px;

            i {
                color: #faad14;
                position: absolute;
                left: 5px;
                top: 7px;
                font-size: 14px;
            }
        }
    }

    .modal-btn-group {
        @include modal-btn-group;
    }
}