<div class="word-item-modal-container">
    <div nz-row class="model-content">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <div nz-row>
                <div nz-row nz-col>
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="3" nzFor="brief" nzRequired class="nzFormLabel">名称</nz-form-label>
                        <nz-form-control nz-col nzXs="21" class="nzFormControl" nzHasFeedback nzErrorTip="请输入名称">
                            <input nz-input placeholder="请输入名称" id="brief" formControlName="brief"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col>
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="3" nzFor="details" nzRequired class="nzFormLabel">内容</nz-form-label>
                        <nz-form-control nz-col nzXs="21" class="nzFormControl" nzHasFeedback nzErrorTip="请输入内容">
                            <textarea [nzAutosize]="{ minRows: 6, maxRows: 12 }" nz-input placeholder="请输入内容" id="details" formControlName="details"></textarea>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>

            <div class="modal-btn-group">
                <button nz-button [nzType]="'primary'">保存</button>
            </div>
        </form>
    </div>
</div>