.search-list-form {
    .form-action {
        text-align: center;

        .form-btn {
            margin-left: 12px;

            i {
                margin-right: 3rpx;
                float: left;
                margin-top: 4px;

                &.reload-icon {
                    font-size: 13px;
                }
            }
        }
    }


    .ant-form-item-label {
        line-height: 25px;
    }

    .nzFormItem {
        margin-bottom: 8px;
    }

    .numberRange-control {
        .input-number, .input-number-center {
            float: left;
        }

        .input-number-center {
            text-align: center;
        }
    }
}

:host ::ng-deep .search-list-form .ant-form-item-control {
    line-height: 25px;
}