<div class="customer-detail">
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>客户管理</nz-breadcrumb-item>
            <nz-breadcrumb-item><a class="route-link" routerLink="/customer/list">客户列表</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>详情</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div nz-row class="content">
        <div class="slide-customer-list">
            <div class="customer-list-count">
                <nz-tag [nzColor]="'blue'">共计{{ sourceCache ? sourceCache.customerListCache.length : '0' }}条数据</nz-tag>
            </div>
            <ng-container *ngIf="sourceCache; else nocacheTpl">
                <div class="slide-customer-list-scroll">
                    <ng-container *ngFor="let customer of sourceCache.customerListCache">
                        <div [ngClass]="{'customer-simple-show': true, 'selected': customer.selected}" (click)="showDetailForm(customer)">
                            <p class="customer-simple-show-top"><i nz-icon nzType="car" nzTheme="outline"></i><span class="plateNo">{{ customer.plateNo}}</span>-<span class="customerName">{{ customer.customerName }}</span></p>
                            <p class="customer-simple-show-center">预计距离到期<span class="highlight">222</span>天</p>
                            <p class="customer-simple-show-bottom">{{ customer.brandName }}</p>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #nocacheTpl>
                <nz-empty nzNotFoundContent="无客户"></nz-empty>
            </ng-template>
        </div>
        <div class="customer-detail-form">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <div nz-row>
                    <p class="title"><i nz-icon nzType="user" nzTheme="outline"></i>客户信息</p>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="name" class="nzFormLabel">姓名</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="name" formControlName="name"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="idCard" class="nzFormLabel">身份证</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入身份证" id="idCard" formControlName="idCard"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired nzFor="callPhone" class="nzFormLabel">联系电话</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="callPhone" formControlName="callPhone"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzFor="otherLink" class="nzFormLabel">其他联系方式</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="otherLink" formControlName="otherLink"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24">
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="24" nzXl="16" nzGutter="24">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="4" nzFor="address" class="nzFormLabel">联系地址</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入姓名" id="address" formControlName="address"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                    <div nz-row nz-col nzXs="24">
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="24" nzXl="16" nzGutter="24">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="4" nzFor="customerInfoRemark" class="nzFormLabel">备注</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <textarea nz-input [nzAutosize]="{ minRows: 6, maxRows: 12 }" placeholder="请输入备注" id="customerInfoRemark" formControlName="customerInfoRemark"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div nz-row>
                    <p class="title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>车辆信息</p>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="plate" class="nzFormLabel">车牌</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入车牌" id="plate" formControlName="plate"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="brandModel" class="nzFormLabel">厂牌型号</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入车牌" id="brandModel" formControlName="brandModel"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="vinCode" class="nzFormLabel">车架号</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入车牌" id="vinCode" formControlName="vinCode"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="engineNumber" class="nzFormLabel">发动机号</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入车牌" id="engineNumber" formControlName="engineNumber"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="seating" class="nzFormLabel">核定座位</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="seating" [nzMin]="1" [nzMax]="99" formControlName="seating" [nzStep]="1"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="firstRegisterDate" class="nzFormLabel">初登日期</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="firstRegisterDate" formControlName="firstRegisterDate"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="insuranceDueDate" class="nzFormLabel">保险到期日</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="insuranceDueDate" formControlName="insuranceDueDate"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="inspectPeriodDate" class="nzFormLabel">年检有效期</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="inspectPeriodDate" formControlName="inspectPeriodDate"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="preInsuranceCompany" class="nzFormLabel">上年投保公司</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-select nzShowSearch nzAllowClear id="preInsuranceCompany" nzPlaceHolder="请选择上年投保公司" formControlName="preInsuranceCompany">
                                    <nz-option *ngFor="let option of formList.insuranceCompanysList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="useNature" class="nzFormLabel">使用性质</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-select nzShowSearch nzAllowClear id="useNature" nzPlaceHolder="请选择使用性质" formControlName="useNature">
                                    <nz-option *ngFor="let option of formList.useNatureList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="category" class="nzFormLabel">车辆种类</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-select nzShowSearch nzAllowClear id="category" nzPlaceHolder="请选择车辆种类" formControlName="category">
                                    <nz-option *ngFor="let option of formList.categoryList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                                </nz-select>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="price" class="nzFormLabel">新车购置价</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="price" [nzMin]="1" [nzMax]="99" formControlName="price" [nzStep]="1"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <p class="title"><i nz-icon nzType="transaction" nzTheme="outline"></i>最终报价</p>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="viPrice" class="nzFormLabel">商业险金额</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="viPrice" [nzMin]="0" formControlName="viPrice" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="viDiscount" class="nzFormLabel">商业险折扣</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="viDiscount" [nzMin]="0" formControlName="viDiscount" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="isDiscount" class="nzFormLabel">是否优惠</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <label nz-checkbox id="isDiscount" formControlName="isDiscount"></label>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="cashBack" class="nzFormLabel">优惠比例(%)</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="cashBack" formControlName="cashBack" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="clivtaPrice" class="nzFormLabel">
                                <label nz-checkbox id="clivtaFlag" formControlName="clivtaFlag"></label>
                                交强险金额
                            </nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="clivtaPrice" [nzMin]="0" formControlName="clivtaPrice" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="travelTax" class="nzFormLabel">
                                <label nz-checkbox id="travelTaxFlag" formControlName="travelTaxFlag"></label>
                                车船税
                            </nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="travelTax" [nzMin]="0" formControlName="travelTax" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="billedPremium" class="nzFormLabel">开单保费</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="billedPremium" [nzMin]="0" formControlName="billedPremium" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="paidInAmount" class="nzFormLabel">实收金额</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-input-number style="width: 100%;" id="paidInAmount" [nzMin]="0" formControlName="paidInAmount" [nzStep]="0.000000001"></nz-input-number>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="24" nzXl="16" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="4" nzRequired  nzFor="paidInAmount" class="nzFormLabel">赠送礼品</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <ng-container *ngIf="otherFormParams.giftList.length > 0; else addGiftTpl">
                                    <ng-container *ngFor="let gift of otherFormParams.giftList; let i = index">
                                        <nz-tag [nzColor]="'blue'" nzMode="closeable" (nzOnClose)="deleteGift(i)">{{ gift.name }}</nz-tag>
                                    </ng-container>
                                </ng-container>
                                <ng-template #addGiftTpl>
                                    <button nz-button nzType="primary" (click)="chooseGift()">点击选择</button>
                                </ng-template>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <p class="title"><i nz-icon nzType="clock-circle" nzTheme="outline"></i>时间信息</p>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="clivtaDate" class="nzFormLabel">交强险时间</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="clivtaDate" formControlName="clivtaDate"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="viDate" class="nzFormLabel">商业险时间</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="viDate" formControlName="viDate"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div nz-row>
                    <p class="title"><i nz-icon nzType="car" nzTheme="outline"></i>保单派送信息</p>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="deliveryTime" class="nzFormLabel">派送时间</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="deliveryTime" formControlName="deliveryTime"></nz-range-picker>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="recipient" class="nzFormLabel">收件人</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入收件人" id="recipient" formControlName="recipient"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="phone" class="nzFormLabel">联系方式</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入联系方式" id="phone" formControlName="phone"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="8" nzRequired  nzFor="salesman" class="nzFormLabel">寄件人</nz-form-label>
                            <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                <input nz-input placeholder="请输入寄件人" id="salesman" formControlName="salesman"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24">
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="24" nzXl="16" nzGutter="24">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="4" nzFor="remark" class="nzFormLabel">备注</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <textarea nz-input [nzAutosize]="{ minRows: 6, maxRows: 12 }" placeholder="请输入备注" id="remark" formControlName="remark"></textarea>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>
                </div>
                <div class="modal-btn-group">
                    <button nz-button [nzType]="'primary'">保存信息</button>
                    <button nz-button [nzType]="'primary'">跟踪提交</button>
                    <button nz-button [nzType]="'primary'">成功提交</button>
                    <button nz-button [nzType]="'primary'" (click)="defeatSubmit()">失败提交</button>
                    <button nz-button [nzType]="'primary'">无效名单</button>
                </div>
            </form>
        </div>
    </div>
</div>