<div class="customer-detail">
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>客户管理</nz-breadcrumb-item>
            <nz-breadcrumb-item><a class="route-link" routerLink="/customer/list">客户列表</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>详情</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div nz-row class="content">
        <div class="slide-customer-list">
            <div class="customer-list-count">
                <nz-tag [nzColor]="'blue'">共计{{ sourceCache ? sourceCache.customerListCache.length : '0' }}条数据</nz-tag>
            </div>
            <ng-container *ngIf="sourceCache; else nocacheTpl">
                <div class="slide-customer-list-scroll">
                    <ng-container *ngFor="let customer of sourceCache.customerListCache">
                        <div [ngClass]="{'customer-simple-show': true, 'selected': customer.selected}" (click)="showDetailForm(customer)">
                            <p class="customer-simple-show-top"><i nz-icon nzType="car" nzTheme="outline"></i><span class="plateNo">{{ customer.plateNo}}</span>-<span class="customerName">{{ customer.customerName }}</span></p>
                            <p class="customer-simple-show-center">预计距离到期<span class="highlight">222</span>天</p>
                            <p class="customer-simple-show-bottom">{{ customer.brandName }}</p>
                        </div>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #nocacheTpl>
                <nz-empty nzNotFoundContent="无客户"></nz-empty>
            </ng-template>
        </div>
        <div class="customer-detail-form">
            <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
                <div nz-row>
                    <p class="title"><i nz-icon nzType="user" nzTheme="outline"></i>客户信息</p>
                    <div nz-row nz-col nzXs="24" nzSm="12" nzMd="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="6" nzRequired  nzFor="name" class="nzFormLabel">姓名</nz-form-label>
                            <nz-form-control nz-col nzXs="18" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="name" formControlName="name"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="12" nzMd="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="6" nzRequired  nzFor="idCard" class="nzFormLabel">身份证</nz-form-label>
                            <nz-form-control nz-col nzXs="18" class="nzFormControl">
                                <input nz-input placeholder="请输入身份证" id="idCard" formControlName="idCard"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="12" nzMd="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="6" nzRequired nzFor="callPhone" class="nzFormLabel">联系电话</nz-form-label>
                            <nz-form-control nz-col nzXs="18" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="callPhone" formControlName="callPhone"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzSm="12" nzMd="8" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="6" nzFor="otherLink" class="nzFormLabel">其他联系方式</nz-form-label>
                            <nz-form-control nz-col nzXs="18" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="otherLink" formControlName="otherLink"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="6" nzFor="address" class="nzFormLabel">联系地址</nz-form-label>
                            <nz-form-control nz-col nzXs="18" class="nzFormControl">
                                <input nz-input placeholder="请输入姓名" id="address" formControlName="address"/>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                    <div nz-row nz-col nzXs="24" nzGutter="24">
                        <nz-form-item class="nzFormItem">
                            <nz-form-label nz-col nzXs="6" nzFor="customerInfoRemark" class="nzFormLabel">备注</nz-form-label>
                            <nz-form-control nz-col nzXs="18" class="nzFormControl">
                                <textarea nz-input [nzAutosize]="{ minRows: 6, maxRows: 12 }" placeholder="请输入备注" id="customerInfoRemark" formControlName="customerInfoRemark"></textarea>
                            </nz-form-control>
                        </nz-form-item>
                    </div>
                </div>
                <div>
                    <p class="title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>车辆信息</p>
                </div>
                <div>
                    <p class="title"><i nz-icon nzType="transaction" nzTheme="outline"></i>最终报价</p>
                </div>
                <div>
                    <p class="title"><i nz-icon nzType="clock-circle" nzTheme="outline"></i>时间信息</p>
                </div>
                <div>
                    <p class="title"><i nz-icon nzType="car" nzTheme="outline"></i>保单派送信息</p>
                </div>
                <div class="modal-btn-group">
                    <button nz-button [nzType]="'primary'">保存信息</button>
                    <button nz-button [nzType]="'primary'">跟踪提交</button>
                    <button nz-button [nzType]="'primary'">成功提交</button>
                    <button nz-button [nzType]="'primary'">失败提交</button>
                    <button nz-button [nzType]="'primary'">其他业务</button>
                </div>
            </form>
        </div>
    </div>
</div>