@import '../../../../core/common/common.style.scss';

.customer-detail {
    @include listLayout;
    min-height: 1050px;

    .highlight {
        color: #f5222d;
    }

    .content {
        display: flex;
        padding-left: 12px;
        padding-right: 270px;
    }

    .slide-customer-list {
        max-height: calc(100% - 100px);
        float: left;
        flex-basis: 140px;
        padding-right: 12px;

        .customer-list-count {
            margin-bottom: 12px;
        }

        .slide-customer-list-scroll {
            width: 140px;
            height: calc(100% - 140px);
            overflow-y: auto;

            .customer-simple-show {
                cursor: pointer;
                border-bottom: 1px solid #ccc;

                p {
                    margin-bottom: 5px;
                    padding: 0 5px;
                    font-size: 12px;
                }

                p.customer-simple-show-top {
                    border-bottom: 1px dashed #eee;
                    padding: 5px 0;
                    margin: 0 5px;

                    i {
                        margin-right: 8px;
                        margin-right: 8px;
                        color: #fff;
                        border-radius: 50%;
                        background-color: $primarycolor;
                        font-size: 15px;
                        padding: 4px;
                    }

                    span.plateNo {
                        color: $primarycolor;
                    }

                    span.customerName {
                        color: #999;;
                    }
                }

                p.customer-simple-show-center {
                    margin-bottom: 0;
                    margin-top: 5px;
                }

                &:hover, 
                &.selected {
                    background-color: $primarycolor;

                    & * {
                        color: #fff !important;
                    }

                    i {
                        background-color: #fff !important;
                        color: $primarycolor !important;
                    }
                }
            }

            .customer-simple-show:first-child {
                border-top: 1px solid #ccc;
            }
        }
    }

    .ins-box {
        margin-bottom: 0px;
    }

    .customer-detail-form {
        flex: 1;
        // padding-left: 12px;

        .nzFormItem {
            @include specialNzFormItem;

            .nzFormLabel {
                flex-basis: 110px;

                &.ins-label {
                    flex-basis: 145px;
                }
            }

            &.quoteInfo-box {
                .nzFormLabel {
                    &.ins-label {
                        background-color: #ffa39e;

                        label {
                            color: #faad14;
                        }
                    }
                }
            }
        }

        p.title {
            background: #79b5ec;
            // line-height: 40px;
            line-height: 30px;
            padding: 0 12px;
            margin-bottom: 4px;
            color: #fff;

            i {
                margin-right: 12px;
            }

            &.margin-top {
                margin-top: 4px;
            }
        }

        .sendInfo-box {
            margin-bottom: 48px;
        }

        .modal-btn-group {
            position: fixed;
            bottom: 20px;
            width: calc(100% - 200px);
            z-index: 999;
            right: 30px;
            text-align: center;

            button {
                margin: 0 6px;
            }
        }
    }

    .quoteInfo-span {
        padding: 1px 7px;
    }
}

:host ::ng-deep .customer-detail .customer-detail-form .ant-form-item-control {
    line-height: 30px;
}

:host ::ng-deep .customer-detail .customer-detail-form .ant-select-selection {
    border: none;
    box-shadow: none;
}

:host ::ng-deep .customer-detail .customer-detail-form .ant-calendar-picker {
    width: 100%;
    box-shadow: none;
}

:host ::ng-deep .customer-detail .customer-detail-form .ant-input {
    border: none;
    box-shadow: none;
}

:host ::ng-deep .customer-detail .customer-detail-form .nzFormControl-isDiscount .ant-form-item-control {
    padding-left: 12px;
}

:host ::ng-deep .customer-detail .customer-detail-form .nzFormControl textarea {
    margin-bottom: 1px;
    // max-height: 29px !important;
    min-height: 29px !important;
    line-height: 27px;
}