@mixin listLayout {
    .container-nav {
        .route-link {
            i {
                margin-right: 5px;;
            }
        }
    }

    .content {
        margin-top: 24px;
        padding: 24px;
        background-color: #fff;

        .search-list-box {
            margin-bottom: 12px;
            border-bottom: 1px dotted #f5f5f5;
            padding-bottom: 12px;
        }

        .search-list-table {
            margin-top: 12px;
        }

        .search-list-table-pagination {
            margin-top: 12px;
            text-align: right;
        }
    }
}

@mixin modal-btn-group {
    text-align: right;
    border-top: 1px solid #e8e8e8;
    padding: 24px 24px 0 24px;
    margin: 0 -24px;

    button {
        margin-left: 12px;
    }
}

@keyframes slideInDown {
    0% {
        -webkit-transform: translate3d(0,-100%,0);
        transform: translate3d(0,-100%,0);
        visibility: visible
    }
  
    to {
        -webkit-transform: translateZ(0);
        transform: translateZ(0)
    }
}