<div class="rule-form-modal-container">
    <div nz-row class="model-content">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
            <div nz-row>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="firstRegisterDate" class="nzFormLabel">初登日期</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="firstRegisterDate" formControlName="firstRegisterDate"></nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="brandModel" class="nzFormLabel">厂牌型号</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <input nz-input placeholder="请输入厂牌型号" id="brandModel" formControlName="brandModel"/>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="category" class="nzFormLabel">车辆所属</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="category" nzPlaceHolder="请选择车辆所属" formControlName="category">
                                <nz-option *ngFor="let option of formList.categoryList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="7" nzFor="isChangeOwner" class="nzFormLabel">是否过户车</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="isChangeOwner" nzPlaceHolder="请选择是否过户车" formControlName="isChangeOwner">
                                <nz-option *ngFor="let option of formList.isChangeOwnerList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="isRenewal" class="nzFormLabel">是否续保</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="isRenewal" nzPlaceHolder="请选择是否续保" formControlName="isRenewal">
                                <nz-option *ngFor="let option of formList.isRenewalList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="isOnlyCompulsory" class="nzFormLabel">否单交强</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="isOnlyCompulsory" nzPlaceHolder="请选择否单交强" formControlName="isOnlyCompulsory">
                                <nz-option *ngFor="let option of formList.isOnlyCompulsoryList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="8" nzFor="isOnJobRenewal" class="nzFormLabel">是否在职续保</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="isOnJobRenewal" nzPlaceHolder="请选择是否在职续保" formControlName="isOnJobRenewal">
                                <nz-option *ngFor="let option of formList.isOnJobRenewalList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="7" nzFor="isLuxuryCar" class="nzFormLabel">是否高端车</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="isLuxuryCar" nzPlaceHolder="请选择是否高端车" formControlName="isLuxuryCar">
                                <nz-option *ngFor="let option of formList.isLuxuryCarList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="insuranceDueDate" class="nzFormLabel">保险到期</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-range-picker [nzFormat]="'yyyy-MM-dd'" id="insuranceDueDate" formControlName="insuranceDueDate"></nz-range-picker>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="8" nzFor="preInsuranceCompanys" class="nzFormLabel">上年保险公司</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl">
                            <nz-select nzShowSearch nzAllowClear id="preInsuranceCompanys" nzPlaceHolder="请选择上年保险公司" formControlName="preInsuranceCompanys">
                                <nz-option *ngFor="let option of formList.insuranceCompanysList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                            </nz-select>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="priceBegin" class="nzFormLabel">车价</nz-form-label>
                        <nz-form-control nz-col nzXs="24" class="nzFormControl price">
                            <div nz-row nz-col nzSpan="11">
                                <nz-input-number style="width: 100%;" id="priceBegin" formControlName="priceBegin" [nzStep]="1"></nz-input-number>
                            </div>
                            <div nz-row nz-col nzSpan="2" style="text-align: center;">—</div>
                            <div nz-row nz-col nzSpan="11">
                                <nz-input-number style="width: 100%;" id="priceEnd" formControlName="priceEnd" [nzStep]="1"></nz-input-number>
                            </div>
                        </nz-form-control>
                    </nz-form-item>
                </div>
                <div nz-row nz-col nzXs="24" nzMd="12" nzGutter="24">
                    <nz-form-item class="nzFormItem">
                        <nz-form-label nz-col nzXs="6" nzFor="plate" class="nzFormLabel">车牌</nz-form-label>
                        <nz-form-control nz-col nzXs="24" nzHasFeedback [nzErrorTip]="plateErrorTpl" class="nzFormControl">
                            <input nz-input id="plate" placeholder="请输入车牌" formControlName="plate"/>
                            <ng-template #plateErrorTpl let-control>
                                <ng-container *ngIf="control.hasError('confirm')">
                                    请输入正确的车牌
                                  </ng-container>
                            </ng-template>
                        </nz-form-control>
                    </nz-form-item>
                </div>
            </div>
            <div class="modal-btn-group">
                <button nz-button [nzType]="'default'" (click)="cancel()">取消</button>
                <button nz-button [nzType]="'primary'">保存</button>
            </div>
        </form>
    </div>
</div>