<div class="policy-review-detail" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>保单审核</nz-breadcrumb-item>
            <nz-breadcrumb-item><a class="route-link" routerLink="/policyReview/list">列表</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>详情</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="detail-box">
            <nz-spin [nzSpinning]="isLoading" [nzIndicator]="indicatorTemplate">
                <form nz-form [formGroup]="validateForm">
                    <div nz-row>
                        <p class="title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>投保公司</p>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="companyCode">投保公司</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <nz-select nzShowSearch nzAllowClear id="companyCode" nzPlaceHolder="请选择投保公司" formControlName="companyCode">
                                        <nz-option *ngFor="let option of formList.insuranceCompanysList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="createUser">联系人</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入联系人" id="createUser" formControlName="createUser"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <p class="title"><i nz-icon nzType="user" nzTheme="outline"></i>客户信息</p>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="customerName">姓名</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入姓名" id="customerName" formControlName="customerName"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="idCard">身份证号码</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入身份证号码" id="idCard" formControlName="idCard"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="customerPhone">联系电话</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入联系人" id="customerPhone" formControlName="customerPhone"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="customerAddress">联系地址</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入联系地址" id="customerAddress" formControlName="customerAddress"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <p class="title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>车辆信息</p>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="carNo">车牌号码</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入车牌号码" id="carNo" formControlName="carNo"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="brandName">厂牌型号</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入厂牌型号" id="brandName" formControlName="brandName"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="seatNumber">核定座位</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <nz-input-number style="width: 100%;" id="seatNumber" [nzMin]="1" [nzMax]="99" formControlName="seatNumber" [nzStep]="1"></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" class="nzFormLabel" nzFor="registerTime">初登日期</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <nz-date-picker style="width: 100%;" [nzFormat]="'yyyy-MM-dd'" id="registerTime" formControlName="registerTime"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="usage" class="nzFormLabel">使用性质</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <nz-select nzShowSearch nzAllowClear id="usage" nzPlaceHolder="请选择使用性质" formControlName="usage">
                                        <nz-option *ngFor="let option of formList.usageList" [nzLabel]="option.name" [nzValue]="option.value"></nz-option>
                                    </nz-select>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="vinNo" class="nzFormLabel">车架号</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入车架号" id="vinNo" formControlName="vinNo"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="engineNo" class="nzFormLabel">发动机号</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入发动机号" id="engineNo" formControlName="engineNo"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="purchasePrice" class="nzFormLabel">新车购置价</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <nz-input-number style="width: 100%;" id="purchasePrice" [nzMin]="1" formControlName="purchasePrice" [nzStep]="1"></nz-input-number>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                    </div>

                    <div nz-row>
                        <p class="title"><i nz-icon nzType="money-collect" nzTheme="outline"></i>投保险种</p>
                        <div class="ins-table-list">
                            <ng-container *ngIf="orderInsList.length > 0; else noInsTypeTpl">
                                <customer-detail-insurance [insList]="orderInsList"></customer-detail-insurance>
                            </ng-container>
                            <ng-template #noInsTypeTpl>
                                <nz-empty nzNotFoundContent="无投保险种"></nz-empty>
                            </ng-template>
                        </div>
                    </div>

                    <div nz-row class="detail-item summation">
                        <p>保险费合计：{{ detailInfo.sumPremium || 0 }}元</p>
                    </div>

                    <div nz-row>
                        <p class="title"><i nz-icon nzType="car" nzTheme="outline"></i>保单派送信息</p>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="receiptDate" class="nzFormLabel">派送时间</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl" nzErrorTip="请选择派送时间">
                                    <nz-date-picker [nzFormat]="'yyyy-MM-dd HH:mm:ss'" id="receiptDate" formControlName="receiptDate"></nz-date-picker>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="receiptName" class="nzFormLabel">收件人</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl" nzErrorTip="请选择收件人">
                                    <input nz-input placeholder="请输入收件人" id="receiptName" formControlName="receiptName"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="receiptPhone" class="nzFormLabel">联系方式</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                    <input nz-input placeholder="请输入联系方式" id="receiptPhone" formControlName="receiptPhone"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                            <nz-form-item class="nzFormItem">
                                <nz-form-label nz-col nzXs="8" nzFor="sender" class="nzFormLabel">寄件人</nz-form-label>
                                <nz-form-control nz-col nzXs="16" class="nzFormControl" nzErrorTip="请输入寄件人">
                                    <input nz-input placeholder="请输入寄件人" id="sender" formControlName="sender"/>
                                </nz-form-control>
                            </nz-form-item>
                        </div>
                        <div nz-row nz-col nzXs="24">
                            <div nz-row nz-col nzXs="24" nzSm="24" nzGutter="0">
                                <nz-form-item class="nzFormItem">
                                    <nz-form-label nz-col nzXs="8" nzFor="receiptRemarks" class="nzFormLabel">备注</nz-form-label>
                                    <nz-form-control nz-col nzXs="16" class="nzFormControl" nzErrorTip="请输入备注">
                                        <textarea nz-input [nzAutosize]="{ minRows: 1, maxRows: 5 }" placeholder="请输入备注" id="receiptRemarks" formControlName="receiptRemarks"></textarea>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </div>
                    </div>

                    <div class="btn-group operation-group">
                        <button nz-button nzType="primary" (click)="approved()">通过</button>
                        <button nz-button nzType="primary" (click)="saveSendInfo()">保存</button>
                        <button nz-button nzType="primary" (click)="registerAgain()">重新登记</button>
                        <button nz-button nzType="danger" (click)="chargeback()">退单</button>
                        <button nz-button nzType="default" (click)="back()">返回</button>
                    </div>
                </form>
            </nz-spin>
            <ng-template #indicatorTemplate><i nz-icon nzType="loading"></i></ng-template>
        </div>
    </div>
</div>