<div class="policy-review-detail" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>保单审核</nz-breadcrumb-item>
            <nz-breadcrumb-item><a class="route-link" routerLink="/policyReview/list">列表</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>详情</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="detail-box">
            <div class="detail-item">
                <p class="title">投保公司</p>
                <div nz-row class="detail-item-content">
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">投保公司：平安/苏州</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">联系人：段春亮</p>
                </div>
            </div>

            <div class="detail-item">
                <p class="title">被保险人</p>
                <div nz-row class="detail-item-content">
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">被保险人姓名：段春亮</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">身份证号码/组织机构代码：130102198301221514</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">联系电话：13833187856</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">被保险人地址：河北省石家庄市桥西区师范街142号</p>
                </div>
            </div>

            <div class="detail-item">
                <p class="title">投保车辆信息</p>
                <div nz-row class="detail-item-content">
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">被投保人与车辆关系：使用</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">行驶证车主：段春亮</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">车牌号码：冀A7B8ED</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">厂牌型号：福特牌CAF7200A51</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">核定座位</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">整备质量</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">初次登记：2019-04-23</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">使用性质：企业非营业客车</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">车架号码：LVSHFFAC2KF769115</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">发动机号：KA00102</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">新车购置价：175800</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">是否足额投保：是</p>
                </div>
            </div>

            <div class="detail-item">
                <p class="title">保险期间</p>
                <div nz-row class="detail-item-content">
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">交强险自 2020-04-23 00:00 起至 2021-04-22 23:59 止</p>
                    <p nz-col nzXs="24" nzSm="12" nzMd="8">商业险自 2020-04-23 00:00 起至 2020-04-23 00:00 止</p>
                </div>
            </div>

            <div class="detail-item">
                <p class="title">投保险种</p>
                <div>
                    <nz-table #list [nzData]="detailInfo.insType" nzShowPagination="false"  [nzTotal]="detailInfo.insType.length">
                        <thead>
                            <tr>
                                <th>投保险种</th>
                                <th>保险金额/责任限额</th>
                                <th>保费（元）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of list.data">
                                <td>{{data.typeName}}</td>
                                <td>{{data.insuredAmount}}</td>
                                <td>{{data.premium}}</td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
            
            <div class="detail-item summation">
                <p>保险费合计：4191.42元   大写：肆仟壹佰玖拾壹元肆角贰分</p>
            </div>

            <div class="detail-item">
                <p class="title">特别约定</p>
                <div class="detail-item-content">
                    
                </div>
            </div>

            <div class="detail-item">
                <p class="title">派送信息</p>
                <div class="detail-item-content">
                    
                </div>
            </div>
        </div>

        <div class="btn-group">
            <button nz-button nzType="primary" (click)="approved()">通过</button>
            <button nz-button nzType="primary" (click)="registerAgain()">重新登记</button>
            <button nz-button nzType="danger" (click)="chargeback()">退单</button>
            <button nz-button nzType="default" (click)="back()">返回</button>
            <button nz-button nzType="primary" (click)="download()">下载</button>
        </div>
    </div>
</div>