@import '../../../core/common/common.style.scss';

.policy-review-detail {
    @include listLayout;

    .content {
        .detail-box {
            p.title {
                background: #f0f2f5;
                line-height: 40px;
                padding: 0 12px;
            }

            .detail-item.summation {
                p {
                    text-align: center;
                    line-height: 80px;
                }
            }

            .detail-item-content {
                margin-bottom: 24px;

                &.send-info {
                    margin-bottom: 48px;
                }

                .nzFormItem {
                    @include specialNzFormItem;

                    .nzFormLabel {
                        flex-basis: 110px;
                    }

                    .nzFormLabel,
                    .nzFormControl {
                        line-height: 35px;
                        height: 35px;
                    }

                    .nzFormControl {
                        padding: 0px 11px;
                    }
                }
            }

            .ins-table-list {
                @include tableListStyle;
            }
        }

        .btn-group {
            text-align: center;

            button {
                margin: 0 6px;
            }
        }

        .operation-group {
            position: fixed;
            bottom: 20px;
            width: calc(100% - 200px);
            z-index: 999;
            right: 30px;
        }
    }
}

:host ::ng-deep .policy-review-detail .send-info .ant-form-item-control {
    line-height: 35px;
}

:host ::ng-deep .policy-review-detail .send-info .ant-select-selection {
    border: none;
    box-shadow: none;
}

:host ::ng-deep .policy-review-detail .send-info .ant-calendar-picker {
    width: 100%;
    box-shadow: none;
}

:host ::ng-deep .policy-review-detail .send-info .ant-input {
    border: none;
    box-shadow: none;
}