<div class="policy-review-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>保单审核</nz-breadcrumb-item>
            <nz-breadcrumb-item>列表</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div nz-row class="content">
        <div class="search-list-box">
            <search-list [searchListLayout]="searchListLayout" [searchListModel]="searchListModel" [searchListItem]="searchListItem" (onSearch)="search()" (onReseat)="reseat()"></search-list>
        </div>
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
                <nz-table #list [nzData]="policyReviewList" nzShowPagination="false" [nzScroll]="{ x: '1620px' }">
                    <thead>
                      <tr>
                        <ng-container *ngFor="let th of tableCfg.thead">
                            <ng-container *ngIf="th.type === 'fixed-right'">
                                <th [nzRight]='true' class="sticky-ele">{{ th.name }}</th>
                            </ng-container>
                            <ng-container *ngIf="th.type === 'fixed-left'">
                                <th [nzLeft]='true' class="sticky-ele">{{ th.name }}</th>
                            </ng-container>
                            <ng-container *ngIf="!th.type">
                                <th>{{ th.name }}</th>
                            </ng-container>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of list.data">
                        <td [nzLeft]="true" class="sticky-ele"><a (click)="showDetail(data)">{{data.carNo || '--'}}</a></td>
                        <td>{{data.customerName || '--'}}</td>
                        <td>{{data.vinNo || '--'}}</td>
                        <td>{{data.brandName || '--'}}</td>
                        <td>{{data.registerTimeFormat}}</td>
                        <td>{{data.commercialEndTimeFormat}}</td>
                        <td>{{data.compulsoryEndTimeFormat}}</td>
                        <td>{{data.lastCompanyName || '--'}}</td>
                        <td>{{data.renewalStateName || '--'}}</td>
                        <td>{{data.userName || '--'}}</td>
                        <td>{{data.updateTimeFormat}}</td>
                        <td>{{data.orderStateName}}</td>
                        <td [nzRight]='true' class="sticky-ele">
                            <a (click)="confirmOutDocInfo(data)">确认出单信息</a>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
            </ng-container>
            <ng-template #skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
            </ng-template>
        </div>
        <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div>
    </div>
</div>