<div class="policy-review-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>保单审核</nz-breadcrumb-item>
            <nz-breadcrumb-item>列表</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>
    <div nz-row class="content">
        <div class="search-list-box">
            <search-list [searchListLayout]="searchListLayout" [searchListModel]="searchListModel" [searchListItem]="searchListItem" (onSearch)="search()" (onReseat)="reseat()"></search-list>
        </div>
        <div class="search-list-menu-group">
            <button nz-button [nzType]="'primary'" (click)="print()" [disabled]="!canPrint"><i nz-icon nzType="printer" nzTheme="outline"></i>打印</button>
            <!-- <button nz-button [nzType]="'danger'" [disabled]="!canDeleteCustomer" (click)="deleteCustomer()"><i nz-icon nzType="delete" nzTheme="outline"></i>删除</button> -->
        </div>
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
                <nz-table #list [nzData]="policyReviewList" nzShowPagination="false" [nzScroll]="{ x: '1000px' }" [nzSize]="'middle'">
                    <thead>
                      <tr>
                        <th
                            nzShowCheckbox
                            [(nzChecked)]="isAllDisplayDataChecked"
                            [nzIndeterminate]="isIndeterminate"
                            (nzCheckedChange)="checkAllList($event)"
                        ></th>
                        <ng-container *ngFor="let th of tableCfg.thead">
                            <ng-container *ngIf="th.type === 'fixed-right'">
                                <th [nzRight]='true' class="sticky-ele">{{ th.name }}</th>
                            </ng-container>
                            <ng-container *ngIf="th.type === 'fixed-left'">
                                <th [nzWidth]="'100px'" [nzLeft]='true' class="sticky-ele">{{ th.name }}</th>
                            </ng-container>
                            <ng-container *ngIf="!th.type">
                                <th>{{ th.name }}</th>
                            </ng-container>
                        </ng-container>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let data of list.data">
                        <td
                            nzShowCheckbox
                            [(nzChecked)]="mapOfCheckedId[data.id]"
                            (nzCheckedChange)="refreshStatus()"
                        ></td>
                        <td [nzLeft]="true" class="sticky-ele"><a (click)="showDetail(data)">{{data.customerName || '--'}}</a></td>
                        <td>{{data.carNo || '--'}}</td>
                        <td>{{data.companyName || '--'}}</td>
                        <td>{{data.userName || '--'}}</td>
                        <td>{{data.orderCommitTimeFormat}}</td>
                        <td>{{data.orderStateName}}</td>
                        <td>{{data.orderDateTimeFormat}}</td>
                        <td [nzRight]='true' class="sticky-ele">
                            <!-- 已经提交 -->
                            <ng-container *ngIf="data.orderState === '1'">
                                <a (click)="showDetail(data)">审核</a>
                            </ng-container>
                            <!-- 内勤通过 -->
                            <ng-container *ngIf="data.orderState === '2'">
                                <a (click)="showDetail(data)">查看</a>
                                <nz-divider nzType="vertical"></nz-divider>
                                <a (click)="confirmOutDocInfo(data)" class="confirm-order-info">确认出单信息</a>
                            </ng-container>
                            <!-- 内勤审评失败 -->
                            <ng-container *ngIf="data.orderState === '3'">
                                --
                            </ng-container>
                        </td>
                      </tr>
                    </tbody>
                  </nz-table>
            </ng-container>
            <ng-template #skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
            </ng-template>
        </div>
        <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div>

        <div class="print-box" style="display: none;">
            <ng-container *ngFor="let item of printList">
                <div nz-row class="print-item">
                    <div class="table-div thead">
                        <span>车主</span>
                        <span>车牌号</span>
                        <span>礼品</span>
                        <span>联系电话</span>
                        <span>业务</span>
                    </div>
                    <div class="table-div tbody">
                        <span>{{ item.customerName }}</span>
                        <span>{{ item.carNo }}</span>
                        <span>{{ item.giftName }}</span>
                        <span>{{ item.receiptPhone }}</span>
                        <span>{{ item.userName }}</span>
                    </div>

                    <div class="table-tr" nz-col nzXs="24" nzSm="12" nzLg="8" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">派送地址：</span>
                            <span class="nzFormControl">{{ item.receiptAddress }}</span>
                        </p>
                    </div>
                    <div class="table-tr" nz-col nzXs="24" nzSm="12" nzLg="8" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">派送日期：</span>
                            <span class="nzFormControl">{{ item.receiptDate | date:'yyyy-MM-dd'}}</span>
                        </p>
                    </div>
                    <div class="table-tr" nz-col nzXs="24" nzSm="24" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">派送备注：</span>
                            <span class="nzFormControl scroll-x">{{ item.receiptRemarks }}</span>
                        </p>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>