@import '../../../core/common/common.style.scss';

.policy-review-list {
    @include listLayout;

    .sticky-ele {
        position: sticky;
    }

    .search-list-table {
        @include tableListStyle;

        .confirm-order-info {
            color: #ff4d4f;
        }

        .allpremium {
            text-align: right;
            margin: 12px 0 0 0;
        }
    }

    .print-box {
        .print-item {
            margin-bottom: 24px;
        }

        .nzFormItem {
            @include specialNzFormItem;

            .nzFormLabel {
                flex-basis: 90px;
                
                &.ins-label {
                    flex-basis: 160px;
                }
            }

            .nzFormLabel,
            .nzFormControl {
                line-height: 30px;
                height: 30px;
            }

            .nzFormControl {
                padding: 0px 11px;
                white-space: nowrap;

                &.scroll-x {
                    overflow-y: hidden;
                }
            }
        }
    }
}

:host ::ng-deep .policy-review-list {
    @include deepTableTheadThColor;
}