<div class="rebate-application-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>返利申请</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="search-list-box">
            <search-list [searchListLayout]="searchListLayout" [searchListModel]="searchListModel" [searchListItem]="searchListItem" (onSearch)="search()" (onReseat)="reseat()"></search-list>
        </div>
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
                <nz-table #list [nzData]="rebateApplicationList" [nzShowPagination]="false">
                  <thead>
                    <tr>
                        <ng-container *ngFor="let th of tableCfg.thead">
                            <th>{{ th.name }}</th>
                        </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of list.data">
                        <td>{{data.userName}}</td>
                        <td>{{data.applyDate}}</td>
                        <td>{{data.customerName}}</td>
                        <td>{{data.carNo}}</td>
                        <td>{{data.companyName}}</td>
                        <td>{{data.carTypeCodeName}}</td>
                        <td>{{data.commercialSumPremium}}</td>
                        <td>{{data.discount}}</td>
                        <td>{{data.overPrice}}</td>
                        <td>{{data.orderStateName}}</td>
                        <td>
                            <a><i class="remark-icon" nz-icon nz-popover nzPopoverTitle="备注" nzPopoverTrigger="click" [nzPopoverContent]="customerRemark" nzPopoverPlacement="left" nzType="eye" nzTheme="outline"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="agreeApplication(data)">同意</a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="rejectApplication(data)">拒绝</a>
                            <ng-template #customerRemark>
                                <ng-container *ngIf="data.customerRemark; else noRemark">
                                    {{ data.customerRemark }}
                                </ng-container>
                                <ng-template #noRemark>
                                    <span class="noRemark-msg" style="background-color: #fffbe6;padding: 5px 12px;">
                                        <i style="margin-right: 8px; color: #faad14" nz-icon nzType="exclamation-circle" nzTheme="outline"></i>该客户无备注</span>
                                </ng-template>
                            </ng-template>
                        </td>
                    </tr>
                  </tbody>
              </nz-table>
              </ng-container>
              <ng-template #skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
              </ng-template>
        </div>

        <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div> 
    </div>
</div>