@import '../../core/common/common.style.scss';

.rebate-application-list {
    @include listLayout;

    .search-list-menu-group {
        text-align: left;

        button {
            margin-right: 12px;
        }

        .allpremium {
            text-align: right;
        }
    }

    .search-list-table {
        @include tableListStyle;

        .remark-icon {
            cursor: pointer;
        }
    }
}

:host ::ng-deep .rebate-application-list {
    @include deepTableTheadThColor;
}