<div class="rebate-application-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>返利申请</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="search-list-box">
            <search-list [searchListModel]="searchListModel" [searchListItem]="searchListItem" (onSearch)="search()" (onReseat)="reseat()"></search-list>
        </div>
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
                <nz-table #list [nzData]="rebateApplicationList" [nzShowPagination]="false">
                  <thead>
                    <tr>
                        <ng-container *ngFor="let th of tableCfg.thead">
                            <th>{{ th.name }}</th>
                        </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of list.data">
                        <td>{{data.applyName}}</td>
                        <td>{{data.createDate}}</td>
                        <td>{{data.name}}</td>
                        <td>{{data.plateNumber}}</td>
                        <td>{{data.companyName}}</td>
                        <td>{{data.cateName}}</td>
                        <td>{{data.viPrice}}</td>
                        <td>{{data}}</td>
                        <td>{{data.rebatePrice}}</td>
                        <td>0</td>
                        <td>保单申请</td>
                        <td>{{data.statusName}}</td>
                        <td>
                            <a><i class="remark-icon" nz-icon nz-popover nzPopoverTitle="备注" [nzPopoverContent]="data.remark" nzPopoverPlacement="left" nzType="eye" nzTheme="outline"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="agreeApplication(data)"><i nz-icon nzTooltipTitle="同意" nzTooltipPlacement="bottom" nz-tooltip nzType="check" nzTheme="outline"></i></a>
                            <nz-divider nzType="vertical"></nz-divider>
                            <a (click)="undoApplication(data)"><i nz-icon nzTooltipTitle="撤回" nzTooltipPlacement="bottom" nz-tooltip nzType="rollback" nzTheme="outline"></i></a>
                        </td>
                    </tr>
                  </tbody>
              </nz-table>
              </ng-container>
              <ng-template #skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
              </ng-template>
        </div>

        <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div> 
    </div>
</div>