<div class="rebate-application-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>返利申请</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
                <nz-table #list [nzData]="rebateApplicationList" [nzShowPagination]="false">
                  <thead>
                    <tr>
                        <ng-container *ngFor="let th of tableCfg.thead">
                            <th>{{ th.name }}</th>
                        </ng-container>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let data of list.data">
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>{{data}}</td>
                        <td>
                            <a (click)="editGift(data)"><i nz-icon nzTooltipTitle="编辑" nzTooltipPlacement="bottom" nz-tooltip nzType="delete" nzType="edit" nzTheme="outline"></i></a>
                        </td>
                    </tr>
                  </tbody>
              </nz-table>
              </ng-container>
              <ng-template #skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
                <nz-skeleton [nzActive]="true"></nz-skeleton>
              </ng-template>
        </div>

        <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div> 
    </div>
</div>