<nz-layout class="app-layout app-admin-layout">
    <!-- 侧边 -->
    <nz-sider class="menu-sidebar"
              nzCollapsible
              nzWidth="256px"
              nzBreakpoint="md"
              [(nzCollapsed)]="isCollapsed"
              [nzTrigger]="null">
      <div class="sidebar-logo">
        <h1>车险投保报价系统</h1>
      </div>
      <ul nz-menu nzTheme="dark" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
        <!-- 一级开始循环 -->
        <ng-container *ngFor="let menuItem of layoutMenus">
          <!-- 一级的展示 -->
          <ng-container *ngIf="menuItem.children.length > 0">
            <li nz-submenu nzTitle="{{ menuItem.name }}" nzIcon="{{ menuItem.icon }}">
              <ul>
                <!-- 二级开始循环 -->
                <ng-container *ngFor="let child of menuItem.children">
                  <!-- 二级的展示 -->
                  <ng-container *ngIf="child.children.length > 0">
                    <li nz-submenu nzTitle="{{ child.name }}" nzIcon="{{ child.icon }}">
                      <ul>
                        <!-- 三级的循环和展示 -->
                          <ng-container *ngFor="let minchild of child.children">
                            <li nz-menu-item nzMatchRouter>
                              <a routerLink="{{ minchild.url }}"><i nz-icon nzType="{{ minchild.icon }}" nzTheme="outline"></i>{{ minchild.name }}</a>
                            </li>
                          </ng-container>
                      </ul>
                    </li>
                  </ng-container>

                  <ng-container *ngIf="child.children.length === 0">
                    <li nz-menu-item nzMatchRouter>
                      <a routerLink="{{ child.url }}"><i nz-icon nzType="{{ child.icon }}" nzTheme="outline"></i>{{ child.name }}</a>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ng-container>

          <ng-container *ngIf="menuItem.children.length === 0">
            <li nz-menu-item nzMatchRouter>
              <a routerLink="{{ menuItem.url }}"><i nz-icon nzType="{{ menuItem.icon }}" nzTheme="outline"></i><span *ngIf="!isCollapsed">{{ menuItem.name }}</span></a>
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </nz-sider>
    <nz-layout>
        <!-- 头部 -->
      <nz-header>
        <div class="app-header">
          <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                 nz-icon
                 [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
          </span>
          <div class="head-menu">
              <div class="user-info">
                <img 
                  nz-popover 
                  nzPopoverPlacement="bottomRight"
                  nzPopoverTrigger="click"
                  [nzPopoverContent]="contentTemplate"  
                  src="{{user.pic}}"/>
              </div>
              <ng-template #contentTemplate>
                <div class="app-user-menu">
                  <p (click)="userLogout()">退出登录</p>
                </div>
              </ng-template>
          </div>
        </div>
      </nz-header>
      <!-- 内容 -->
      <nz-content>
        <div class="inner-content">
          <router-outlet></router-outlet>
          <div class="fix-box">
            <salesman-operation></salesman-operation>
          </div>
          <nz-back-top></nz-back-top>
        </div>
      </nz-content>
    </nz-layout>
</nz-layout>
<ng-template #trigger>
    <i class="anticon anticon-up"></i>
</ng-template>
  