@import '../../../core/common/common.style.scss';

.statistic-work-report {
    @include listLayout;

    .userSummary-td {
        span {
            background-color: #79b5ec;
            display: block;
            padding: 5px 10px;
            border-radius: 5px;
        }
    }
}

:host ::ng-deep .statistic-work-report {
    @include deepTableTheadThColor;

    .customerStatisticsList-td {
        thead.ant-table-thead {
            display: none;
        }

        .ant-table-body > table {
            border: none !important;
        }

        .ant-table-tbody > tr:last-child > td {
            border-bottom: none !important;
        }
    }
}