<div class="success-submit-detail" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>保单查询</nz-breadcrumb-item>
            <nz-breadcrumb-item><a class="route-link" routerLink="/successSubmit/list">列表</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>详情</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="detail-box">
            <div class="detail-item">
                <p class="title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>投保公司</p>
                <div nz-row class="detail-item-content">
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">投保公司：</span>
                            <span class="nzFormControl">{{ detailInfo.insCompany.companyName }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">联系人：</span>
                            <span class="nzFormControl">{{ detailInfo.insCompany.createUser }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="detail-item">
                <p class="title"><i nz-icon nzType="user" nzTheme="outline"></i>客户信息</p>
                <div nz-row class="detail-item-content">
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">姓名：</span>
                            <span class="nzFormControl">{{ detailInfo.customerInfo.customerName }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">身份证号码：</span>
                            <span class="nzFormControl">{{ detailInfo.customerInfo.idCard }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">联系电话：</span>
                            <span class="nzFormControl">{{ detailInfo.customerInfo.customerPhone }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">联系地址：</span>
                            <span class="nzFormControl">{{ detailInfo.customerInfo.customerAddress }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="detail-item">
                <p class="title"><i nz-icon nzType="info-circle" nzTheme="outline"></i>车辆信息</p>
                <div nz-row class="detail-item-content">
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">车牌号码：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.carNo }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">厂牌型号：</span>
                            <span class="nzFormControl scroll-x">{{ detailInfo.carInfo.brandName }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">核定座位：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.seatNumber }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">初登日期：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.registerTime | date:'yyyy-MM-dd HH:mm:ss' }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">使用性质：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.usageName }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">车架号：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.vinNo }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">发动机号：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.engineNo }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">新车购置价：</span>
                            <span class="nzFormControl">{{ detailInfo.carInfo.purchasePrice }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <!-- <div class="detail-item">
                <p class="title">保险期间</p>
                <div nz-row class="detail-item-content">
                    <p nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">交强险自 {{ detailInfo.insTime.compulsoryStartTime | date:'yyyy-MM-dd HH:mm:ss' }} 起至 {{ detailInfo.insTime.compulsoryEndTime | date:'yyyy-MM-dd HH:mm:ss' }} 止</p>
                    <p nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">商业险自 {{ detailInfo.insTime.commercialStartTime | date:'yyyy-MM-dd HH:mm:ss' }} 起至 {{ detailInfo.insTime.commercialEndTime | date:'yyyy-MM-dd HH:mm:ss' }} 止</p>
                </div>
            </div> -->

            <div class="detail-item">
                <p class="title"><i nz-icon nzType="money-collect" nzTheme="outline"></i>投保险种</p>
                <div nz-row class="detail-item-content">
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">交强险时间：</span>
                            <span class="nzFormControl scroll-x">{{ detailInfo.insTime.compulsoryStartTime | date:'yyyy-MM-dd' }}~{{ detailInfo.insTime.compulsoryEndTime | date:'yyyy-MM-dd' }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">商业险时间：</span>
                            <span class="nzFormControl scroll-x">{{ detailInfo.insTime.commercialStartTime | date:'yyyy-MM-dd' }}~{{ detailInfo.insTime.commercialEndTime | date:'yyyy-MM-dd' }}</span>
                        </p>
                    </div>
                </div>
                <div nz-row class="ins-table-list">
                    <ng-container *ngIf="detailInfo.insType.length > 0; else noInsTypeTpl">
                        <ng-container *ngFor="let data of detailInfo.insType; let i = index">
                            <div nz-row nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="8">
                                <nz-form-item class="nzFormItem">
                                    <nz-form-label nz-col nzXs="8" nzRequired  class="nzFormLabel">{{ data.insName }}</nz-form-label>
                                    <nz-form-control nz-col nzXs="16" class="nzFormControl">
                                        <span nz-col nzXs="15" class="dataType">{{data.coverage && data.coverage + '元' || '无'}}</span>
                                        <span nz-col nzXs="9" class="payPremium">{{data.payPremium && data.payPremium + '元' || '无'}}</span>
                                    </nz-form-control>
                                </nz-form-item>
                            </div>
                        </ng-container>
                    </ng-container>
                    <ng-template #noInsTypeTpl>
                        <nz-empty nzNotFoundContent="无投保险种"></nz-empty>
                    </ng-template>


                    <!-- <nz-table #list [nzData]="detailInfo.insType" nzShowPagination="false"  [nzTotal]="detailInfo.insType.length">
                        <thead>
                            <tr>
                                <th>投保险种</th>
                                <th>保险金额/责任限额</th>
                                <th>保费（元）</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of list.data">
                                <td>{{data.insName}}</td>
                                <td>{{data.coverage || '--'}}</td>
                                <td>{{data.payPremium}}</td>
                            </tr>
                        </tbody>
                    </nz-table> -->
                </div>
            </div>
            
            <div nz-row class="detail-item">
                <p class="title"><i nz-icon nzType="transaction" nzTheme="outline"></i>最终报价</p>
                <div nz-row class="detail-item-content">
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">商业险金额：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.commercialSumPremium || 0 }}元</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">是否优惠：</span>
                            <span class="nzFormControl">
                                <label nz-checkbox id="isDiscount" [nzDisabled]="true" [(ngModel)]="detailInfo.finalQuotation.isDiscount"></label>
                            </span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">优惠比例(%)：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.discount }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">交强险金额：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.compulsorySumPremium }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">车船税：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.taxActual }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">驾意险价格：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.drivingPremium }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">津贴保价格：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.allowancePremium }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">玻璃膜价格：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.glassPremium }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">赠送礼品：</span>
                            <span class="nzFormControl">{{ detailInfo.receiptInfo.giftName }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">开单保费：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.sumPremium }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">实收金额：</span>
                            <span class="nzFormControl">{{ detailInfo.finalQuotation.realSumPremium }}</span>
                        </p>
                    </div>
                </div>
            </div>

            <div class="detail-item">
                <p class="title"><i nz-icon nzType="car" nzTheme="outline"></i>派送信息</p>
                <div nz-row class="detail-item-content">
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">派送时间：</span>
                            <span class="nzFormControl">{{ detailInfo.receiptInfo.receiptDate | date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">收件人：</span>
                            <span class="nzFormControl">{{ detailInfo.receiptInfo.receiptName }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">联系方式：</span>
                            <span class="nzFormControl">{{ detailInfo.receiptInfo.receiptPhone }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzLg="12" nzXl="6" nzXXl="6" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">寄件人：</span>
                            <span class="nzFormControl">{{ detailInfo.receiptInfo.nzFormLabel }}</span>
                        </p>
                    </div>
                    <div nz-col nzXs="24" nzSm="24" nzGutter="0">
                        <p class="nzFormItem">
                            <span class="nzFormLabel">备注：</span>
                            <span class="nzFormControl scroll-x">{{ detailInfo.receiptInfo.receiptRemarks }}</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="btn-group operation-group">
            <button nz-button nzType="default" (click)="back()">返回</button>
        </div>
    </div>
</div>