@import '../../../core/common/common.style.scss';

.organization-employees-list {
    @include listLayout;

    .search-list-menu-group {
        text-align: left;

        button {
            margin-right: 12px;
        }
    }

    .search-list-table {
        @include tableListStyle;
    }

    .ant-popover-message-title {
        width: 150px;
    }
}