<div class="organization-employees-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>组织架构</nz-breadcrumb-item>
            <nz-breadcrumb-item>人员列表</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <div class="search-list-box">
            <search-list [searchListModel]="searchListModel" [searchListItem]="searchListItem" (onSearch)="search()" (onReseat)="reseat()"></search-list>
        </div>
        <div class="search-list-menu-group">
            <button nz-button [nzType]="'primary'" (click)="addEmployee()"><i nz-icon nzType="plus" nzTheme="outline"></i>新增人员</button>
        </div>
        <div class="search-list-table">
          <ng-container *ngIf="!isLoading; else skeleton">
            <nz-table #list [nzData]="employeesList" nzShowPagination="false">
              <thead>
                <tr>
                  <ng-container *ngFor="let th of tableCfg.thead">
                      <th>{{ th.name }}</th>
                  </ng-container>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let data of list.data">
                  <td>{{data.id}}</td>
                  <td>{{data.name}}</td>
                  <td>{{data.phone || '--'}}</td>
                  <td>{{data.username}}</td>
                  <td>{{data.roleName}}</td>
                  <td>{{data.accountStatusName}}</td>
                  <td>{{data.creatorTimeFormat}}</td>
                  <td>
                    <a (click)="editEmployee(data)"><i nz-icon nzTooltipTitle="编辑" nzTooltipPlacement="bottom" nz-tooltip nzType="delete" nzType="edit" nzTheme="outline"></i></a>
                    <nz-divider nzType="vertical"></nz-divider>
                    <a nzPopconfirmTitle="删除后，该业务员账号将无法正常使用，并且不能恢复。"
                      nz-popconfirm
                      nzOkText="确认" nzCancelText="取消"
                      (nzOnConfirm)="deleteEmployee(data)"><i nz-icon nzTooltipTitle="删除" nzTooltipPlacement="bottom" nz-tooltip nzType="delete" nzType="delete" nzTheme="outline"></i></a>
                  </td>
                </tr>
              </tbody>
          </nz-table>
          </ng-container>
          <ng-template #skeleton>
            <nz-skeleton [nzActive]="true"></nz-skeleton>
            <nz-skeleton [nzActive]="true"></nz-skeleton>
            <nz-skeleton [nzActive]="true"></nz-skeleton>
          </ng-template>
        </div>
        <div class="search-list-table-pagination">
            <search-list-pagination [pageInfo]="pageInfo" (onPageChange)="onPageChange($event)"></search-list-pagination>
        </div>
    </div>
</div>