<div class="error-component-container" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div class="error-box">
        <img src="../../../assets/img/404-error.jpeg"/>
        <div class="error-content">
            <h1>Awww...Don’t Cry.</h1>
            <p style="text-align: center; white-space: pre-wrap;">It's just a Error! 
                <br>What you’re looking for may have been misplaced in Long Term Memory.
                <br>
                <br>
                &nbsp;
            </p>
        </div>
    </div>
</div>