<div class="list-assignment-list" [@jackInTheBox] [@jackInTheBoxOnEnter]>
    <div nz-row class="container-nav">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item><a class="route-link" routerLink="/home"><i nz-icon nzType="home" nzTheme="outline"></i>首页</a></nz-breadcrumb-item>
            <nz-breadcrumb-item>名单管理</nz-breadcrumb-item>
            <nz-breadcrumb-item>名单分配</nz-breadcrumb-item>
        </nz-breadcrumb>
    </div>

    <div nz-row class="content">
        <!-- <div class="message-container">
            <div class="message-content">
                <i nz-icon nzType="info-circle" nzTheme="outline"></i>
                <p>当月名单总数：<nz-tag [nzColor]="'orange'">{{ currentMounthTotalAccount }}</nz-tag></p>
                <p>提取名单数: <nz-tag [nzColor]="'orange'">{{ extractionListAccount }}</nz-tag></p>
            </div>
        </div> -->
        <div class="search-list-menu-group">
            <button nz-button [nzType]="'primary'" (click)="editRule()"><i nz-icon nzType="form" nzTheme="outline"></i>编辑规则</button>
        </div>
        <div class="rule-list-box">
            <ng-container *ngIf="ruleList.length> 0; else noRuleTpl">
                <div class="rule-box">
                    <ng-container *ngFor="let rule of ruleList; let i = index">
                        <nz-tag class="rule-tag-item" nzMode="closeable" [nzColor]="'blue'" (nzOnClose)="deleteRuleItem(i)">{{ rule.name }}: {{ rule.formatValue }}</nz-tag>
                    </ng-container>
                </div>
            </ng-container>
            <ng-template #noRuleTpl>
                <div class="rule-box no-data">
                    <nz-empty nzNotFoundContent="暂无规则"></nz-empty>
                </div>
            </ng-template>
        </div>
        <div class="search-list-menu-group">
            <ng-container *ngIf="!isEditing; else idEditTpl">
                <button nz-button [nzType]="'primary'" (click)="editAssigmentAmount()"><i nz-icon nzType="form" nzTheme="outline"></i>编辑分配数量</button>
            </ng-container>
            <ng-template #idEditTpl>
                <button nz-button [nzType]="'primary'" (click)="saveAssigmentAmount()"><i nz-icon nzType="save" nzTheme="outline"></i>保存分配数量</button>
                <button nz-button (click)="isEditing = false"><i nz-icon nzType="undo" nzTheme="outline"></i>取消修改</button>
            </ng-template>
        </div>
        <div class="assign-number-mesg">
            <p class="isloading-assign-number" *ngIf="isLoadingAssignNumber"><i nz-icon nzType="loading" nzTheme="outline"></i>加载分配数额中...</p>
            <p *ngIf="!isLoadingAssignNumber">当前可分配的总数额为<span class="highlight">{{totalNumber}}</span>,剩余可分配数额为<span class="highlight">{{lastAssignNumber}}</span></p>
        </div>
        <div class="search-list-table">
            <ng-container *ngIf="!isLoading; else skeleton">
              <nz-table #list [nzData]="assignMemberList" [nzShowPagination]="false" [nzFrontPagination]="false" [nzTotal]="assignMemberList.length" [nzSize]="'middle'">
                <thead>
                  <tr>
                    <ng-container *ngFor="let th of tableCfg.thead">
                        <th>{{ th.name }}</th>
                    </ng-container>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let data of list.data">
                    <td>{{data.userName}}</td>
                    <td>{{data.firstCallNeedNum}}</td>
                    <td>{{data.firstCallAlreadyNum}}</td>
                    <td>{{data.appointmentNum}}</td>
                    <td>{{data.appointmentHandleNum}}</td>
                    <td>{{data.todayNum}}</td>
                    <td>
                        <ng-container *ngIf="isEditing">
                            <nz-input-number [(ngModel)]="data.distributionNum" (ngModelChange)="distributionNumChange(data)" [nzMin]="0" [nzStep]="1"></nz-input-number>
                        </ng-container>
                        <ng-container *ngIf="!isEditing">
                            {{data.distributionNum}}
                        </ng-container>
                    </td>
                  </tr>
                </tbody>
            </nz-table>
            </ng-container>
            <ng-template #skeleton>
              <nz-skeleton [nzActive]="true"></nz-skeleton>
              <nz-skeleton [nzActive]="true"></nz-skeleton>
              <nz-skeleton [nzActive]="true"></nz-skeleton>
            </ng-template>
        </div>
    </div>
</div>